## Step by Step
# In this file, just execute step by step of the codes.

In [ ]:
%load_ext sql

In [2]:

import pandas as pd
import boto3
import json
import configparser
import psycopg2
from botocore.exceptions import ClientError

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

DWH_ENDPOINT= config.get("CLUSTER","HOST")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [5]:
%sql SELECT TOP 5 * FROM songplay

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(32, datetime.datetime(156, 11, 12, 11, 38, 36), 73, 'ARPBMSQ1187B98AE69', 954, 'SOAHVKA12A8C146C5F', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 'paid'),
 (48, datetime.datetime(156, 7, 1, 5, 48, 36), 97, 'ARJ7KF01187B98D717', 828, 'SOUCKDH12A8C138FF5', 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 'paid'),
 (64, datetime.datetime(156, 8, 17, 22, 28, 36), 49, 'ARM0P6Z1187FB4D466', 849, 'SOCGOZK12A8151BD5D', 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 'paid'),
 (104, datetime.datetime(156, 8, 23, 19, 38, 36), 29, 'ARMRCET1187FB52049', 898, 'SOHKKXU12A67ADA08F', 'Atlanta-Sandy Springs-Roswell, GA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 'paid'),
 (128, datetime.datetime(155, 12, 26, 1, 28, 36), 30, 'ARKQQZA12086C116FC', 324, 'SOULTKQ12AB018A183', 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 'paid')]

In [6]:
%sql SELECT COUNT(*) FROM songplay

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [7]:
%sql SELECT TOP 5 * FROM users

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(26, 'Ryan', 'Smith', 'M', 'free'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free')]

In [8]:
%sql SELECT COUNT(*) FROM users

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [9]:
%sql SELECT TOP 5 * FROM artist

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARE815V1187B998A43', 'T-la Rock', 'NEW YORK, New York', 40.71455, -74.00712),
 ('ARP4O0W1187FB5A06B', 'De Dannan', '', None, None),
 ('AR1L2NA119B86684B4', 'Dr. Hook And The Medicine Show', 'Union City, New Jersey', 40.77387, -74.02469),
 ('ARB60IV1187FB370FE', 'Reverend Horton Heat', 'Corpus Christi, TX', 32.77815, -96.7954),
 ('ARMMJ2R1187B993A72', 'S.O.A.P.', 'Denmark', 56.27609, 9.51695)]

In [10]:
%sql SELECT COUNT(*) FROM artist

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [11]:
%sql SELECT TOP 5 * FROM song

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOGLVMM12A6D4FA83E', 'Rosy Shy (LP Version)', 'ARBF7KQ1187FB455DE', 1970, Decimal('184')),
 ('SOEQPKL12A58A7C822', 'Poverty For All', 'ARAWX5Q1187B9A0905', 2006, Decimal('133')),
 ('SOEDRZU12A6D4FC138', 'The Ritual Of Mahaparinirvana', 'ARB3EON1187B9A2CDA', 1991, Decimal('535')),
 ('SONFXQX12AB01872A4', 'Up To Zion (High Key-Premiere Performance Plus w/o Background Vocals)', 'ARGIABO1187FB4B3B5', 0, Decimal('171')),
 ('SORXEUH12A8C14463B', 'Brainwascht', 'AR76NY61187FB4F82F', 2008, Decimal('226'))]

In [12]:
%sql SELECT COUNT(*) FROM song

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [13]:
%sql SELECT TOP 5 * FROM time

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(155, 4, 23, 14, 8, 36), 14, 23, 17, 4, 155, 3),
 (datetime.datetime(155, 4, 25, 23, 8, 36), 23, 25, 17, 4, 155, 5),
 (datetime.datetime(155, 4, 26, 18, 38, 36), 18, 26, 17, 4, 155, 6),
 (datetime.datetime(155, 4, 30, 21, 8, 36), 21, 30, 18, 4, 155, 3),
 (datetime.datetime(155, 5, 2, 12, 48, 36), 12, 2, 18, 5, 155, 5)]

In [14]:
%sql SELECT COUNT(*) FROM time

 * postgresql://dwhuser:***@dwhcluster.c7a0qjgrtcji.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(23076,)]